html {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .right {
    float:inline-end;
  }
  
  .left {
    display: inline-block;
  }
  
  .square {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
  }
  
  .color {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }
  
  .gridContainer {
    margin-top: 40px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 3fr);
    grid-template-rows: repeat(16, 3fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
  }

  .reset {
    background-color: black;
    color: white;
  }